

/* BODY */
body{
  background-color: #112B3C;
  font-size: 50px;
  margin: 0;
  text-align: center;
  font-family: 'Prompt ExtraBold', sans-serif;
  color: #EFEFEF;
}
/* END OF BODY */


/* NAV */
.topnav {
    background-color: #112B3C;
    overflow: hidden;
}
.topnav a {
  float: center;
  font-family: 'Prompt ExtraBold', sans-serif;
  color: #EFEFEF;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #205375;
  color: black;
}
.topnav a.active {
  background-color: #205375;
  color: white;
}
/* END OF NAV*/

/* TITLES*/
h1{
  margin: 50px;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 0;
  color: #112B3C;
}
h2{
  margin: 50px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 50px;
  color: #112B3C;
}
h3{
  margin: 50px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 35px;
  color: #112B3C;
}
h4{
  margin: 50px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 20px;
    color: #112B3C;
  }
/* END OF TITLES*/

.portfolio_images{
  margin: 80px auto 80px auto;
  padding: 40px;
  width: 1150px;
  height: 850px;
}

.services-h2{
  color: #112B3C;
}
.service-paragraph{
  color: #112B3C;
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.skills-h2{
color: #112B3C;
}
.skills-text{
  color: #EFEFEF;
  font-size: 20px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
.portfolio-h2{
color: #112B3C;
}
.get-in-touch-h2{
color: #112B3C;
position: relative;
}
.hire-text{
  color: #112B3C;
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}


.h4-size{
  margin: 20px;
  color: #EFEFEF;
}

.middle-container{
  font-family: 'Prompt ExtraBold', sans-serif;
  background-color: #EFEFEF;
  position: static;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #112B3C;
}
.bottom-container{
  background-color: #EFEFEF;
  padding-top: 50px;
  padding-bottom: 50px;
}





/* ICON IMAGES*/
.man{
  margin: 50px auto 50px auto;
  padding: 30px;
  width: 350px;
  height: 350px;
}
.services{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.window{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.email{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.portfolio{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
/* END OF ICON IMAGES*/



.color{
  color: #DA0037;
}
.help{
  color: #EFEFEF;
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
}


/* NAV BAR JUMP TO*/
#services{
  color: #112B3C;
  scroll-behavior: smooth;
}
#skills{
  color: #EFEFEF;
  scroll-behavior: smooth;
}
#contact{
  color: #112B3C;
  scroll-behavior: smooth;
}
/*END OF NAV BAR JUMP TO*/


/* PORTFOLIO PAGE CSS */
.portfolio-h2{
  font-size: 20px;
  font-color:#DA0037;
}


/* END OF PORTFOLIO PAGE CSS */



.submit{
  font-size: 20px;
}

.label{
  font-size: 20px;
  color: #112B3C;
}
.here a:hover{
color: black;
}
.form{
  text-align: inherit;
}

.h4-icon{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;

}
.h4-email{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;
}



/* ABOUT PAGE CSS */
.main-about{

}
.main-about-heading{
 color: #DA0037;
 font-size: 35px;
}
.main-about-text{
color: #444444;
font-size: 20px;
text-align: left;
}
.main-about-contact{
  color: #444444;
}
.faq-h2{
font-size: 24px;
color: #444444
}
.faq{
  font-size: 18px;
  color: #444444
}
/* END OF ABOUT PAGE CSS */
.footer{
  color: #DA0037;
}
