

/* BODY */
body{

  font-size: 50px;
  margin: 0;
  text-align: center;
  font-family: 'Prompt ExtraBold', sans-serif;
  color: #EFEFEF;

  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;

}
/* END OF BODY */
{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* 2 columns */

@import url("");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}
body {

}

section:nth-child(1) {
  color: #
  ;
}
section:nth-child(2) {
  color: #;
  background: #;
}
section:nth-child(3) {
  color: #;
}
section:nth-child(4) {
  color: #;
  background: #;
}
section .container {
  margin: 60px;
}
section h1 {
  font-size: 3rem;

}
section h2 {
  font-size: 25px;
  text-align: center;

}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 1px;
  padding: 1xpx;
  background: #;
}
section .text-container .text-box h3 {
  font-size: 18px;
  text-align: center;
  text-transform: ;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* NAV */
.topnav {
    background-color: #343A40;
    overflow: hidden;
    border-radius: 12.5px;

}
.topnav a {
  border-radius: 6.5px;
  float: center;
  font-family: 'Prompt ExtraBold', sans-serif;
  color: #EFEFEF;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
  font-size: 12px;
}
.topnav a:hover {
  background-color: #7F8487;
  color: black;
}
.topnav a.active {
  background-color: #7F8487;
  color: white;
}

.shopify-topnav{
  color: #96bf48;
}
/* END OF NAV*/

.logo-text{
font-size: 18px;
font-weight: 400;
}
/* TITLES*/
h1{
  margin: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  color: #112B3C;
}
h2{
  margin: 20px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 25px;
  color: #112B3C;
}
h3{
  margin: 20px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 35px;
  color: #EFEFEF;
}
h4{
  margin: 20px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 20px;
    color: #112B3C;
  }
/* END OF TITLES*/

.h3-skills{
  color: #EFEFEF;
  font-size: 20px;
}

.portfolio_images{


  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 8px;
}

.services-h2{
  color: #000000;
  margin: 20px;

}
.service-paragraph{

  color: #000000;
  font-size: 18px;
  text-align: left;
  font-weight:  400;
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}
.skills-h2{
color: #EFEFEF;

}

.skills-text{
  color: #EFEFEF;
  font-size: 18px;
  text-align: left;

  position: static;
  padding-top: 20px;
  padding-bottom: 20px;


  margin: auto;
  width: 80%;
  border: 1px;
  padding: 1px;
}
.portfolio-h2{
color: #112B3C;
}
.get-in-touch-h2{
color: #112B3C;
position: relative;

}
.hire-text{
  color: #112B3C;
  font-size: 18px;
  text-align: left;

  margin: auto;
  width: 80%;
  border: 3px;
  padding: 10px;
}


.h4-size{
  margin: 20px;
  color: #EFEFEF;
  font-size: 18px;

}

.h4-size-c{
  margin: 20px;
  color: #EFEFEF;
  font-size: 10px;
}

.middle-container{
  font-family: 'Prompt ExtraBold', sans-serif;
  background-color: #dedede;

border-radius: 25px;
  padding-top: 50px;
  padding-bottom: margin: auto;
  border: 3px solid #343A40;
  color: #FFFFFF;
}
.bottom-container{
  background-color: #dedede;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid #343A40;
border-radius: 25px;

}


.skill-contnainer{

}


/* ICON IMAGES*/
.man{
  margin: 50px auto 50px auto;
  padding: 30px;
  width: 350px;
  height: 350px;
}
.services{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.window{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.email{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.portfolio{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
/* END OF ICON IMAGES*/



.color{
  color: #DA0037;
}
.help{
  color: #EFEFEF;
  font-size: 22px;
text-align: center;
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}


/* NAV BAR JUMP TO*/
#services{
  color: #000000;
  scroll-behavior: smooth;
}
#skills{
  color: #EFEFEF;
  scroll-behavior: smooth;
}
#contact{
  color: #112B3C;
  scroll-behavior: smooth;
}
/*END OF NAV BAR JUMP TO*/


/* PORTFOLIO PAGE CSS */
.portfolio-h2{
  font-size: 18px;
  font-color:#DA0037;
}


/* END OF PORTFOLIO PAGE CSS */



.submit{
  font-size: 20px;
  border-radius: 12px;
  width: 100px;
  background-color: #112B3C;
  color: #EFEFEF;
  font-size: 20px;
}

.label{
  font-size: 20px;
  color: #112B3C;
}
.here a:hover{
color: black;
}
.form{
  text-align: inherit;

}

.h4-icon{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;
  font-size: 18px;

}
.h4-email{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;
  font-size: 18px;
}
.shopify-container{
  background-color: #112B3C;
  padding-top: 40px;
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.shopify{
  color: #96bf48;
  margin: auto;
  width: 50%;
  border: 3px solid #96bf48;
  padding: 10px;

}


.shopify-text-w{

  color: #EFEFEF;
  font-size: 18px;
  text-align:   left;

  font-size: 18px;

  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}

.shopify-text{

    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background:
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s),
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;

  color: #96bf48;
  font-size: 20px;
  text-align:   left;
font-weight: 400;
  font-size: 18px;

  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}

.ecommerce{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 8px;
}


a { color: #444444; }

/* ABOUT PAGE CSS */
.main-about{

}
.main-about-heading{
 color: #DA0037;
 font-size: 35px;
}
.main-about-text{
color: #444444;
font-size: 20px;
text-align: left;
}
.main-about-contact{
  color: #444444;
}
.faq-h2{
font-size: 24px;
color: #444444
}
.faq{
  font-size: 18px;
  color: #444444
}
/* END OF ABOUT PAGE CSS */
.footer{
  color: #DA0037;

  margin: auto;
  width: 100%;
  border: 3px;
  padding: 10px;



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
